In [1]:
#Lists, Strings, Dictionaries, and Nested Structures

In [2]:
#1. Year List Creation
#Create a list years_list that includes the year of your birth and the next five years (total 6
#years).

In [3]:
birth_year = 2000
years_list = [birth_year + i for i in range(6)]
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

In [4]:
#2. Third Birthday Year
#Print the year in years_list when you were 3 years old.
#Hint: Remember, your 0th year is the first item.

In [5]:
birth_year = 2000
years_list = [birth_year + i for i in range(6)]

In [6]:
print(years_list[3])

2003

In [7]:
#3. Oldest Year
#Which year in years_list represents the most recent (your oldest age)?

In [8]:
birth_year = 2000
years_list = [birth_year + i for i in range(6)]

In [9]:
print(years_list[-1])

2005

In [10]:
#4. List of Things
#Create a list called things with the following items:
#["mozzarella", "cinderella", "salmonella"]

In [11]:
things = ["mozzarella", "cinderella", "salmonella"]

In [12]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [13]:
#5. Capitalization Check
#Capitalize the item that refers to a person in the things list.
#Print the list. Did the original list change?

In [14]:
things = ["mozzarella", "cinderella", "salmonella"]

things[1] = things[1].capitalize()

In [15]:
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [16]:
#6. Surprise List
#Create a list called surprise_list with these values:
#["Groucho", "Chico", "Harpo"]

In [17]:
surprise_list = ["Groucho", "Chico", "Harpo"]

In [18]:
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [19]:
#7. String Transformation
#Take the last item in surprise_list:
#• Lowercase it
#• Reverse it
#• Capitalize the result
#Then print it.

In [20]:
surprise_list = ["Groucho", "Chico", "Harpo"]

transformed = surprise_list[-1].lower()[::-1].capitalize()

In [21]:
print(transformed)

Oprah

In [22]:
#8. English-to-French Dictionary
#Create a dictionary e2f that maps these:
#• dog → chien
#• cat → chat
#• walrus → morse
#Print the dictionary.

In [23]:
E_to_F = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

In [24]:
print(E_to_F)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [25]:
#9. Translate 'walrus' to French
#Use e2f to print the French word for “walrus.”

In [26]:
E_to_F = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

In [27]:
print(E_to_F["walrus"])

morse

In [28]:
#10. Reverse Dictionary
#Create a reverse dictionary f2e from e2f using the .items() method.
#Print f2e.

In [30]:
E_to_F = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

F_to_E = {french: english for english, french in E_to_F.items()}

In [31]:
print(F_to_E)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [32]:
#11. Translate 'chien' to English
#Use f2e to print the English word for “chien.”

In [33]:
F_to_E = {
    "chien": "dog",
    "chat": "cat",
    "morse": "walrus"
}

In [34]:
print(F_to_E["chien"])

dog

In [35]:
#12. Get All English Words
#Print the set of all English words (the keys from e2f).

In [37]:
E_to_F = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_words = set(E_to_F.keys())

In [38]:
print(english_words)

{'dog', 'cat', 'walrus'}

In [40]:
#13. Create a Nested Dictionary (life)
#Create a dictionary life structured like this:
{
'animals': {
'cats': ['Henri', 'Grumpy', 'Lucy'],
'octopi': {},
'emus': {}
},
'plants': {},
'other': {}
}

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [41]:
#14. Top-Level Keys
#Print the top-level keys of life.

In [42]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [43]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [44]:
#15. Animal Categories
#Print the keys inside life['animals'].

In [45]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [46]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [47]:
#16. List of Cat Names
#Print the list of cat names stored in life['animals']['cats'].

In [48]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [49]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']