In [1]:
# Problems_on_if_else

In [3]:
#1. You are given 3 integer angles(in degrees) A, B and C of a triangle. You
#have to tell whether the triangle is valid or not.
#A triangle is valid if sum of its angles equals to 180.

A = int(input())
B = int(input())
C = int(input())
if A+B+C == 180:
    print ("1")
else:
    print("0")

35
40
45
0

In [4]:
#2. Write a program to input two numbers(A & B) from user and print the
#maximum element among A & B.
#Problem Constraints
#1 <= A <= 1000000
#1 <= B <= 1000000

A = int(input())
B = int(input())

if 1 <= A <= 1000000 and 1 <= B <= 1000000:
    print(max(A,B))

50000
6000
50000

In [5]:
#3. You are given the Cost Price C and Selling Price S of a Product. You have to
#tell whether there is a Profit or Loss. Also, calculate total profit or loss.
#NOTE: It is guaranteed that Cost Price and Selling Price are not equal.
#NOTE: You have to take input of the Cost Price(C) and Selling Price(S) from the user.
#Problem Constraints
#C ≠ S
#1 <= C, S <= 109

C = int(input())
S = int(input())

Profit = S - C
if 1<=C and S<= 10**9 and C != S and Profit > 1:
    print(1)
    print(S-C)
else:
    print(-(1))
    print(-(S-C))

30
60
1
30

In [7]:
#4. Given the number N, Categorise the number according to following
#condition :1. Odd-Positive2. Odd-Negative3. Even-Positive4. Even-
#NegativeNote : Intention of problem is to teach you Nested If-Else, so try to
#solve this problem using nested if-else
#Problem Constraints
#10000 <= N <= 10000 except 0

N = int(input())
if -10000 <= N <= 10000 and N !=0:
    if N < 0 and N%2 == 0:
        print("Even-Negative")
    elif N > 0 and N % 2 == 0:
        print("Even-Positive")
    elif N < 0 and N % 2 != 0:
        print("Odd-Negative")
    else:
        print("Odd-Positive")

2000
Even-Positive

In [8]:
# Problems on LOOPS

In [16]:
#1. Problem Description
#Take T (number of test cases) as input.
#For each test case, take integer N as input and Print the count of digits of that
#number.
#Note: No of digits for number 0 is considered as 1.

T = int(input())

for _ in range(T):
    N = int(input())
    if N == 0:
        print(1)
    else:
        print(len(str(N)))

3
0
1
123
3
100000
6

In [25]:
#2. Problem Description
#Write a program that accepts T numbers(N) from the user and find reverse of
#the given number(N).
#Problem Constraints
#1 <= T <= 100
#1 <= N <= 100000000

T = int(input())
for _ in range(T):
    N = int(input())
    reverse = 0
    while N > 0:
        digit = N % 10
        reverse = reverse * 10 + digit
        N = N // 10
    print(reverse)

3
123
321
234
432
345
543

In [28]:
#Take an integer N as input. Print the following pattern of N lines. For N =
#5 The following pattern is printed.

N = int(input())
for i in range(N, 0, -1):
    for j in range(0, i + 2):
        if j == 0 or j == i + 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

5
*     *
*    *
*   *
*  *
* *

In [30]:
#2. Take an integer N as input, print the corresponding pattern for N.
#For example if N = 5 then pattern will be like:
#*****
#_****
#__***
#___**
#____*

N=int(input())
for i in range(1,N+1):
    for j in range(1,N+1):
        if j<i:
            print(" ",end="")
        else:
            print("*",end="")
    print()

6
******
 *****
  ****
   ***
    **
     *

In [31]:
#3. Take an integer N, print the corresponding Full Pyramid pattern for N.
#For example if N = 5 then pattern will be like:
#     *
#    * *
#   * * *
#  * * * *
# * * * * *

N = int(input())
for i in range(N):
    print(" " * (N - i - 1) + "* " * (i + 1))

5
    *
   * *
  * * *
 * * * *
* * * * *

In [32]:
#4. Take an integer N as input, print the corresponding pattern for N.
#For example if N = 5 then pattern will be like:
#1
#1_
#1_3
#1_3_
#1_3_5

N = int(input())
for i in range(1, N + 1):
    val = 1
    for j in range(1, i + 1):
        if j % 2 == 0:
            print("_", end="")
        else:
            print(val, end="")
            val += 2
    print()

5
1
1_
1_3
1_3_
1_3_5

In [36]:
#5. Take an Integer N as input. Print an Inverse half pyramid of N lines using * .
#For example for N = 5, the output should be the following pattern:-
#*****
#****
#***
#**
#*

N = int(input())
for i in range(N, 0, -1):
    print("*" * i)

5
*****
****
***
**
*

In [35]:
#6. Take an integer N as input, print the corresponding pattern for N.
#For example if N = 5 then pattern will be like:
#____*
#___**
#__***
#_****
#*****

N = int(input())
for i in range(1, N + 1):
    spaces = N - i
    stars = i
    print("_" * spaces + "*" * stars)

5
____*
___**
__***
_****
*****

In [37]:
# Problems on Functions

In [39]:
#1. Given the temperature of a day in Degrees Celsius, convert this given
#temperature from Celsius to Fahrenheit. Complete the function to do so.
#Round the output up to 2 decimal places

def celsius_farhen(Celsius):
    ans = (Celsius* 9/5)+32
    return round(ans,2)

In [40]:
celsius_farhen(45)

113.0

In [41]:
#2. Write a program to calculate the total amount if the principal
#amount, simple interest rate per annum, and time in the number of days
#are given. The simple interest rate per annum is provided as a percentage.
#Assuming that there are 365 days in a year, print the total amount rounded
#up to 2 decimal places.

def simple_int(time, pa, ir):
    interest = (pa * ir * time) / (365 * 100)
    ans = pa + interest
    return round(ans, 2)

In [42]:
simple_int(90, 10000, 5)

10123.29

In [43]:
#3. Write a program that takes the cost price of a vehicle as an argument and
#returns the road tax, that the vehicle owner has to pay according to the
#following criteria:

def road_tax(price):
    if price > 100000:
        tax = 0.2 * price
    elif 75000 < price <= 100000:
        tax = 0.15 * price
    elif 50000 < price <= 75000:
        tax = 0.1 * price
    else:
        tax = 0.05 * price
    return round(tax, 1)

In [47]:
road_tax(10005)

500.2

In [48]:
#4. You are given a positive integer A denoting the radius of a circle. You have
#to calculate the area of the circle. Note: The formula for the area of a circle
#is Area = πr2, where r is the circle's radius. You can use the value
#of PI as 3.1416. Round up the final answer up to 2 decimal places. You can
#use round(area, 2) for rounding area to 2 decimal places

import math
def area_of_circle(radius):
    return round(3.1416 * (radius ** 2), 2)

In [49]:
area_of_circle(5)

78.54

In [50]:
#5. Given an integer n, write a program to return the sum of squares of first n
#natural numbers in integer format.
#Note1: The formula for the sum of squares of first n natural numbers is: n(n+1) (2n+1)/6

def sum_squares(n):
    ans = (n * (n + 1) * (2 * n + 1)) // 6
    return ans

In [51]:
sum_squares(5)

55

In [52]:
#6. You are given a lowercase latin alphabetic character C. You have to tell
#whether it is a vowel or not.
#The characters 'a', 'e', 'i', 'o', and 'u' are called vowels.
#Note: You just have to write the code inside the function and return the result.
#The input and output is handled in the backend.
#Problem Constraints: C ∈ ['a' - 'z']

def isvowel(C):
    vowel = "aeiou"
    if C in vowel:
        return 1
    else:
        return 0

In [58]:
isvowel('o')

1

In [59]:
#7. Given the height (A) and weight (B) of a person as input in centimetres and kilograms.
#Find the BMI of that person and the classification of the user based on their
#BMI.

def main(height_cm, weight):
    height = height_cm / 100
    BMI = weight / (height * height)
    return BMI

def classify(BMI):
    if BMI < 18.5:
        return "Underweight"
    elif 18.5 <= BMI <= 24.9:
        return "Normal"
    elif 24.9 < BMI <= 29.9:
        return "Overweight"
    else:
        return "Obese"

In [62]:
BMI = main(170,68)

In [63]:
classify(BMI)

'Normal'