In [1]:
#Que 1.Create a variable age and assign it the value 25 . Then print the value of
#age along with its data type using the type() function.
x = int(input("Age: "))

Age: 25

In [2]:
Age = 25
print("Value of Age: ", Age)
print("Data type of Age: ",Age)

Value of Age:  25
Data type of Age:  25

In [3]:
#Que 2.Assign the number 12.5 to a variable price . Print both the variable and its
#data type. Then assign the value 12 to the same variable and print its data
#type again. What do you observe?

Price = 12.5

In [4]:
print("Variable: ",Price)
print("Data type: ",Price)

Variable:  12.5
Data type:  12.5

In [5]:
Price = 12

In [6]:
print("Variable: ",Price)
print("Data type: ",Price)

Variable:  12
Data type:  12

In [7]:
#Que 3.Create a variable is_raining and set it to True . Print the value of the variable
#along with its type. Then set is_raining to False and print the new value and 
#type.

is_raining = True

In [8]:
bool(is_raining)

True

In [9]:
print("Data type: ", is_raining)

Data type:  True

In [10]:
is_raining = False

In [11]:
bool(is_raining)

False

In [12]:
print("Data type: ",is_raining)

Data type:  False

In [13]:
#Que 4.Create a variable my_name and store your full name in it as a string. Then
#print the value of my_name using single quotes ' .

my_name = 'Sujal Patil'

In [14]:
print('my_name: ',my_name)

my_name:  Sujal Patil

In [15]:
#Que 5.Write a Python program that asks the user for their name and age using the
#input() function. Store the inputs in variables and print a sentence like
#"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
#integer.

A = str(input())

Sujal

In [16]:
B = int(input())

24

In [17]:
print("Hello, " + A + "! You are " + str(B) + " years old")

Hello, Sujal! You are 24 years old

In [18]:
#Que 6.Create two variables x and y and assign them the values 10 and 3.5 ,
#respectively. Print their values and types. Then, create a new variable
#sum_xy and store the sum of x and y . Print the result and its type.

x = 10
y = 3.5

In [19]:
print("value: ",x)
print("Data type: ",type(x))
print("value: ",y)
print("Data type: ",type(y))

value:  10
Data type:  <class 'int'>
value:  3.5
Data type:  <class 'float'>

In [20]:
sum_xy = x + y

In [21]:
print("sum of x and y: ", sum_xy)

sum of x and y:  13.5

In [22]:
print("Data type: ",type(sum_xy))

Data type:  <class 'float'>

In [23]:
#Que 7.Using the type() function, check and print the data type of the following:
#45.0, "hello", None, False

print("Data type: ", type(45.0))
print("Data type: ", type("hello"))
print("Data type: ", type(None))
print("Data type: ", type(False))

Data type:  <class 'float'>
Data type:  <class 'str'>
Data type:  <class 'NoneType'>
Data type:  <class 'bool'>

In [24]:
#Que 8.Write a Python program to print three strings "apple" , "banana" , and "cherry"
#on the same line, separated by a space. Then modify the program to
#separate the strings using a comma , instead of a space.

print("apple", "banana", "cherry")

apple banana cherry

In [25]:
print("apple", "banana", "cherry", sep=',')

apple,banana,cherry

In [26]:
#Que 9.Create a variable big_number and assign it a very large integer value (e.g.,987654321987654321 ). 
#Print the value and its type. What do you notice about the size of the number?

x = int(input("big_number: "))

big_number: 345

In [27]:
print("Value: ", x)
print("Data type:", type(x))

Value:  345
Data type: <class 'int'>

In [28]:
#Que 10.Write a Python program that prints the result of multiplying two floats 
#(e.g.,2.5 and 3.7 ). Then check and print the data type of the result.

x = 2.5
y = 3.7

In [29]:
print("x * y:", x*y)
print("Data type: ", type(x*y))

x * y: 9.25
Data type:  <class 'float'>