In [1]:
#Que 1.Write a Python program to print your name and favourite colour on two separate lines.
print("Sujal", "\nBlack")

Sujal
Black

In [2]:
#Qye 2.Write a Python program that prints the result of adding 7 and 8.
print(7+8)

15

In [3]:
#Que 3.Use the print function to display the following text exactly as it is:
print("Python is fun! \nLet's learn together")

Python is fun!
Let's learn together

In [4]:
#Que 4.Write a Python program to calculate and print the result of multiplying 6 by 9.
print(6*9)

54

In [5]:
#Que 5.Write a Python program that prints the result of adding 5 + 5 and
#multiplying 2 * 3 in a single line of code.
x = 5+5
y = 2*3

In [6]:
print(x , y)

10 6

In [7]:
#Que 6.Take the name A as input from the user and print "Hello A", where A is
#the name in input.
x = (input())

Sujal

In [8]:
#Que 7.You have x rupees in your savings. You google pay y rupees, print your bank balance
x = int(input())

34

In [9]:
y = int(input())

20

In [10]:
print (x-y)

14

In [11]:
#Que 8.Print the first five letters of the English alphabet i.e. A, B, C, D and E.
#one below each other
print("A \nB \nC \nD \nE")

A
B
C
D
E

In [12]:
#Que 9.Take two names A and B as input from the user, and print "A says Hi to B" (Without quotations), 
#where A and B are the names in input.
A = str(input())

Sujal

In [13]:
B = str(input())

Jugal

In [14]:
print(A + " says Hi to " + B)

Sujal says Hi to Jugal